:root{
    --primaryColor: #370140;
    --secondaryColor: #720484;
}

.flex{
    position: relative;
    display: flex;
}

.pos-abs{
    position: absolute;
}

.pos-rel{
    position: relative;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.align-center{
    align-items: center; /* Items get centered along the axis orthogonal to the flex-direction */
}

.align-flex-start{
    align-items: flex-start;
}

.justify-center{
    justify-content: center; /* Items get centered along the flex-direction */
}

.justify-space-between{
    justify-content: space-between;
}

.justify-flex-start{
    justify-content: flex-start;
}

.text{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    line-height: 0.75;
}

.regular{
    font-weight: 400;
}

.medium{
    font-weight: 500;
}

.size-128{
    font-size: 128px;
}

.size-32{
    font-size: 32px;
}

.size-24{
    font-size: 24px;
}

.size-20{
    font-size: 20px;
}

.size-16{
    font-size: 16px;
}

.size-10{
    font-size: 10px;
}

.square-75x75{
    width: 75px;
    height: 75px;
}

.square-60x60{
    width: 60px;
    height: 60px;
}

.square-50x50{
    width: 50px;
    height: 50px;
}

.square-40x40{
    width: 40px;
    height: 40px;
}