body {
    width: 100vw;
    height: 100vh;
    margin: 0; /* Removes scroll bars */
    overflow: hidden;
}

body::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px; /* Adjust shadow size */
    box-shadow: 0 0 20px 20px blueviolet; /* Adjust shadow properties */
    margin: 0;
}

#image{
    background-size: cover; /* Lets image cover whole screen */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; /* Image will stay on screen while scrolling */
    width: 100vw;
    height: 100vh;
    margin: 0; /* Removes scroll bars */
    position: absolute;
}

#arrow{
    position: fixed;
    bottom: 15px; /* arrow is positioned at the bottom edge of the screen */
    left: 50%; /* arrow is positioned at the center of the x-axis */
    z-index:1; /* arrow is rendered above box-shadow of body::after */
    background-color: transparent;
    font-size: 0;
    border: none;
    padding-inline: 0;
    scale: 400%;
}

#weatherInfo{
    position: fixed;
    bottom:0;
    background-color: blue;
    width: 100vw;
    height: 100px;
    display: none;
    z-index: 2;
}

#dayCycleIcon{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
}