/*
/// GENERAL_CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////
 */
:root{
    --primaryColor: #370140;
    --secondaryColor: #720484;
}

body {
    display: flex;
    flex-direction: column; /* Items stacked vertically */
    align-items: center;  /* Items centered horizontally */
    width: 100vw;
    height: 100vh;
    margin: 0; /* Removes scroll bars */
    overflow: hidden;
    background-color: black;
}

.text{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    line-height: 0.75;
}

#dashboard{
    position: relative; /* Needed for margin-top to work */
    margin-top: 50px;  /* Specific Y value for positioning */
    display: flex;
    flex-direction: column; /* Items stacked vertically */
    align-items: center;  /* Items centered horizontally */
}



/*
/// BACKGROUND_AND_BUTTONS ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */
#backgroundImage{
    background-size: cover; /* Lets image cover whole screen */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; /* Image will stay on screen while scrolling */
    width: 100vw;
    height: 100vh;
    margin: 0; /* Removes scroll bars */
    position: absolute;
}

#backgroundImageButtons{
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

#colorButton{
    width: 50px;
    height: 50px;
}

#refreshButton{
    width: 40px;
    height: 40px;
}

#powerButton{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}



/*
/// DATE ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */
#time {
    font-size: 128px;
    font-weight: 400;
}

#day{
    font-size: 40px;
    font-weight: 500;
    margin-top: 15px;
}

#date{
    font-size: 32px;
    font-weight: 500;
    margin-top: 26px;
}



/*
/// SHORTCUTS //////////////////////////////////////////////////////////////////////////////////////////////////////////
 */
#shortcuts{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
}

#upperShortcuts{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

#lowerShortcuts{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}

#shortcutDialog{
    z-index: 3;
    padding: 10px 10px 10px 20px;
    margin: 0;
    left: calc(50% - 239px);
    top: 45%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    width: 440px;
    border: 4px solid rgba(0,0,0,0.75);
    background: rgba(0, 0, 0, 0.75) linear-gradient(180deg, color-mix(in srgb, var(--primaryColor), transparent 25%) 0%, rgba(0, 0, 0, 0) 76%);
}

#shortcutDialog[open]{
    display: flex;
}

.shortcutInputField{
    width: 300px;
}

div.shortcutImage{
    background-size: 40%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: 200ms ease-in-out scale;
    background-repeat: no-repeat;
    background-position: center;
}

div.shortcutImage:hover{
    scale: 1.1;
}

div.shortcutBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-image: url(../images/shortcutBackground.svg);
    background-repeat: no-repeat;
}



/*
/// SETTINGS ///////////////////////////////////////////////////////////////////////////////////////////////////////////
 */
#settings{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    border-radius: 30px;
    width: 440px;
    border: 4px solid rgba(0,0,0,0.75);
    background: rgba(0, 0, 0, 0.75) linear-gradient(180deg, color-mix(in srgb, var(--primaryColor), transparent 25%) 0%, rgba(0, 0, 0, 0) 76%);
    padding: 30px;
}

.settingsContainer{
    position: relative;
    display: flex;
    width: 100%;
    height: 25px;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.settingsTexts{
    position: relative;
    width: 140px;
    min-width: 140px;
    font-size: 20px;
}

.settingsButtons button{
    width: 100%;
    height: 25px;
    border-radius: 30px;
    border: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 0.75;
    background: rgba(255,255,255,90%);
    color: rgba(0,0,0,50%);
}

.settingsButtons{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 100%;
}

.settingsButtons button[data-state="active"]{
    color: black;
}

#colorScheme .settingsButtons button{
    color: rgba(255,255,255,50%);
}

#colorScheme .settingsButtons button[data-state="active"]{
    color: white;
}

.inputField{
    position: relative;
    width: 240px;
    height: 25px;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 0.75;
    border-radius: 30px;
    border: none;
    background: rgba(255,255,255,90%);
}

.settingsSearchEngines{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 6px;
}

.settingsSearchEngines img{
    width: 100%;
    height: 25px;
    border: none;
    opacity: 25%;
    padding-left: 11px;
    padding-right: 11px;
}

.settingsSearchEngines img[data-state="active"]{
    opacity: 100%;
}



/*
/// SEARCH_BAR /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */
#searchBar{
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchBarField{
    position: relative;
    width: 800px;
    height: 50px;
    padding: 0;
    border-radius: 30px;
    border: 4px solid black;
    background-color: rgba(0,0,0,0.75);
    color: rgba(255,255,255,0.5);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#searchBarButton{
    background: none;
    border: none;
    margin-left: -45px;
    z-index: 2;
}

#searchBarIcon{
    width: 25px;
    height: 25px;
}

[type="search"]::-webkit-search-cancel-button, /* remove default x icon from searchBarField */
[type="search"]::-webkit-search-decoration { /* remove default suggestions from searchBarField */
    -webkit-appearance: none;
    appearance: none;
}

#settingsIcon{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

input:active,input:focus{
    outline: none;
}

.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}



/*
/// WEATHER_INFO ///////////////////////////////////////////////////////////////////////////////////////////////////////
 */
#weatherInfoContainer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.75) linear-gradient(180deg, color-mix(in srgb, var(--primaryColor), transparent 25%) 0%, rgba(0, 0, 0, 0) 25%);
}

#temperatureColumn{
    position: relative;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 50px;
    gap: 30px;
}

.temperatureColumnDiv{
    position: relative;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#temperatureColumnDivLeft{
    align-items: center;
}

#temperatureColumnDivRight{
    align-items: flex-start;
}

#IconAndRainAmount{
    position: relative;
    width: 60px;
    height: 60px;
}

#weatherIcon{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 60px;
    color: white;
}

#amountOfRain{
    position: absolute;
    left: 30px;
    top: 30px;
    transform: translateX(-50%) translateY(-80%);
    font-size: 16px;
    font-weight: 500;
    color: var(--primaryColor);
    text-shadow: revert;
}

#descriptionAndLocation{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

#weatherDescription{
    font-size: 32px;
    font-weight: 500;
}

#weatherLocation{
    font-size: 24px;
    font-weight: 500;
}

#minMaxTemp{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.minMaxTempText{
    font-size: 16px;
    font-weight: 500;
}

#tempAndThermometer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: -50px;
}

#actualFeelsLikeTemp{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#actualTemp{
    font-size: 32px;
    font-weight: 500;
}

#feelsLikeTemp{
    font-size: 10px;
    font-weight: 500;
}

#thermometerIcon{
    width: 60px;
    height: 60px;
}

.simpleWeatherColumn{
    position: relative;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}

.weatherColumnDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.weatherIcon{
    width: 60px;
    height: 60px;
}

.weatherText{
    font-size: 24px;
    font-weight: 500;
}

#forecastColumn{
    position: relative;
    width: 540px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 50px;
}

#forecastText{
    font-size: 32px;
    font-weight: 500;
}

#forecastDays{
    position: relative;
    width: 540px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.forecastDay{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.forecastDayName{
    font-size: 24px;
    font-weight: 400;
}

.forecastDayIcon{
    font-size: 50px;
    color: white;
}

.forecastDayDescription{
    font-size: 16px;
    font-weight: 500;
}

#dayCycleColumn{
    position: relative;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 30px;
}

#dayCycleText{
    font-size: 32px;
    font-weight: 500;
}

#dayCycleImage{
    position: relative;
    width: 150px;
    height: 75.5px;
    margin-bottom: -15px;
    padding: 15px;
}

#dayCycleArch{
    position: absolute;
    left: 15px;
    top: 15px;
}

#dayCycleIcon{
    position: absolute;
}